<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Configurar nueva contraseña</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Cambiar mi contraseña">
</form>

{% else %}

<p>El enlace de reestablecimiento de contraseña no es válido, possiblemente porque ya se utilizó.  Por favor solicitar nuevamente el cambio de contraseña.</p>

{% endif %}
{% endblock %}