h1 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

li {
    display: inline;
    padding: 1em;
}

<<<<<<< HEAD
ul li a, ul li a:visited {
    outline: none;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    display: inline-block;
    border-radius: 0.7em;
    background: rgb(175, 113, 255);
=======
.linkBoton, .linkBoton:visited {
    outline: none;
    text-decoration: none;
    text-align: center;
    min-width: max-content;
    color: whitesmoke;
    display: inline-block;
    border-radius: 0.7em;
    background: rgb(172, 131, 203);
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    width: 20%;
    line-height: 2;
    box-shadow: 2px 2px 2px black, inset 2px 2px rgba(255, 255, 255, 0.6), inset -2px -2px rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.24));
}

<<<<<<< HEAD
ul li a:active {
=======
.linkBoton:active {
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    box-shadow: 2px 2px 2px black, inset 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.5));
}

<<<<<<< HEAD
ul li a:focus{
    outline: #000 2px;
    background: rgb(145, 83, 225);
=======
.linkBoton:focus{
    outline: #000 2px;
    background: rgb(142, 101, 173);
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.44));
}

header a {
    outline: none;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 19.5%;
<<<<<<< HEAD
=======
    min-width: max-content; 
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
}

header a:link, a:visited, a:focus {
<<<<<<< HEAD
    background: rgb(175, 231, 175);
  }
  
header a:hover {
    background: rgb(125, 191, 125);
=======
    background: rgb(172 213 141);
  }
  
header a:hover {
    background: rgb(112 153 81);
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
header a:active {
<<<<<<< HEAD
    background: rgb(175, 113, 255);
=======
    background: rgb(142, 101, 173);
>>>>>>> 856d9a216734950c926e57902d9746624bca4538
    color: white;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
<<<<<<< HEAD
=======
}

.logo img {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.logo p{
    margin: 0;
    font-size: 3em;
    font-weight: bold;

>>>>>>> 856d9a216734950c926e57902d9746624bca4538
}

body {
    font  : 1.3rem sans-serif;
    padding : 0.5em;
    margin  : 0;
}

header, footer {
    background-color: rgb(162 203 131);;
    color: white;
    line-height: 80px;
    padding: 0 20px;
  }




form {
    margin: 0 auto;
    width: fit-content;
    padding: 1em;
    border: 1px solid rgb(172 213 141);
    border-radius: 1em;
    background-color: rgb(192 233 161);
}

div+div {
    margin-top: 1em;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button {
    padding      : 1.2em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    font         : bold .8em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : rgb(215, 255, 215);
    cursor       : pointer;
    
}

.buttonholder{
    text-align: center;
}

button:hover,
button:focus {
    outline     : none;
    background  : rgb(162, 121, 193);
    color       : #FFF;
}


fieldset {
    width: 250px;
    box-sizing: border-box;
    margin-left: 136px;
    border: 1px solid #999;
}


label {
    position: relative;
}

.centertext{
    text-align: center;
}