{% extends "base.html" %}
{% block title %}Elegir centro de vacunacion{% endblock %}

{% block content %}
<h1>Elección de centro de vacunación</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: rgb(255, 0, 0); font-size: .8em;" >{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="buttonholder">
      <button type="submit">Guardar eleccion</button>
    </div>
  </form>
  <a href="{% url 'userinfo' %}"><button class="volver">Volver</button></a>
{% endblock content %}