<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Inicio</h1>

{% if user.is_authenticated %}
  Bienvenido {{ user.username }}!
  <p><a class="pedirturno" href="{% url 'Solicitar turno' %}">Solicitar turno</a></p>
  <p><a class="linkBoton" href="{% url 'turno pendiente' %}">Ver turno pendiente</a></p>
  <p><a class="linkBoton" href="../accounts/ver_vacunas_aplicadas/">Ver mis dosis aplicadas</a></p>
  <p><a class="linkBoton" href="{% url 'logout' %}">Cerrar Sesion</a></p>
  
{% else %}
  <p>Debes iniciar sesion para continuar</p>
  <ul>
    <li><a class="linkBoton" href="{% url 'login' %}">Iniciar Sesion</a></li>
    <li><a class="linkBoton" href="{% url 'signup' %}">Registrarse</a></li>
  </ul>
{% endif %}
{% endblock content %}