<!-- templates/home.html -->
{% extends "base_vacunador.html" %}

{% block title %}Inicio Vacunadores{% endblock %}

{% block content %}
<h1>Inicio</h1>
<p> Faltan incorporar los botones indicados</p>
{% if user.is_authenticated %}
  <p><a class="linkBoton" href="#">Ver turno pendiente</a></p>
  <p><a class="linkBoton" href="#">Ver mis dosis aplicadas</a></p>
  <p><a class="linkBoton" href="{% url 'logout' %}">Cerrar Sesion</a></p>
{% else %}
  <p>Debes iniciar sesion para continuar</p>
  <ul>
    <li><a class="linkBoton" href="{% url 'login' %}">Iniciar Sesion</a></li>
    <li><a class="linkBoton" href="{% url 'signup' %}">Registrarse</a></li>
  </ul>
{% endif %}

{% endblock content %}