{% extends "base_vacunador.html" %}
{% block title %}Aplicacion de vacuna{% endblock %}

{% block content %}
  <h2>Cargue la informacion de la aplicacion de una vacuna</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="buttonholder">
      <button type="submit">Confirmar</button>
    </div>
  </form>
  <a href="{% url 'home vacunador' %}"><button class="volver">Volver</button></a>
{% endblock %}


