{% extends "base.html" %}

{% block title %}Mi informacion{% endblock %}

{% block content %}
<h1>Mis Datos</h1>
<p>
    <ul class="userinfo">
        <li><b>Usuario:</b> {{user.username}}</li>
        <li><b>Dni:</b> {{user.paciente.dni}}</li>
        <li><b>Fecha de nacimiento:</b> {{user.paciente.nacimiento}}</li>
        <li><b>Nombre:</b> {{user.paciente.first_name}}</li>
        <li><b>Apellido:</b> {{user.paciente.last_name}}</li>
        <li><b>Email:</b> {{user.paciente.email}}</li>
        <li><b>Centro elegido:</b> {{user.paciente.centro_vacunacion}}</li>
        <li><b>Vacunas aplicadas previamente:</b> {{request.vacunas}}</li>
        <li><b>Comorbilidad:</b> {{user.paciente.comorbilidad}}</li>
    </ul>
</p>
<ul class="botonera">
    <a href="../cambiarcontrasena/"><button>Cambiar Contraseña</button></a>
    <a href="../elegir_centro/"><button>Elegir centro de vacunación</button></a>
    <a href="../vacunasant/"><button>Cargar mis vacunas previas</button></a>
    <a href="../modificar_datos/"><button>Modificar datos del perfil</button></a>
    <a href="../validar_identidad/"><button>Validar identidad con RENAPER</button></a>
</ul>
<p><a class="pedirturno" href="{% url 'Solicitar turno' %}">Solicitar turno</a></p>


{% endblock content %}