{% extends "base.html" %}

{% block title %}Mi informacion{% endblock %}

{% block content %}
<h1>Mis Datos</h1>
<p>
    <ul class="userinfo">
        <li>Usuario: {{user.username}}</li>
        <li>Dni: {{user.paciente.dni}}</li>
        <li>Nombre: {{user.paciente.first_name}}</li>
        <li>Apellido: {{user.paciente.last_name}}</li>
        <li>Email: {{user.paciente.email}}</li>
        <li>Centro elegido: {{user.paciente.centro_vacunacion}}</li>
    </ul>
</p>
<a href="../cambiarcontrasena/"><button>Cambiar Contraseña</button></a>
<a href="../elegir_centro/"><button>Elegir centro de vacunación</button></a>
<a href="../vacunasant/"><button>Cargar mis vacunas previas</button></a>
<a href="../modificar_datos/"><button>Modificar datos del perfil</button></a>

{% endblock content %}